.container {
    background-color:#F9F9FF;
    display: flex;
    flex-direction: column;

    .headingContainer {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .containerSlide {
        display: flex;
        flex-direction: column;
        justify-content: center;
        height: 200px;
        width: 150px;
        margin: 2rem;
        padding: 1rem;
        background-color: #ffffff;
        transition: background-color 0.3s; /* Added transition for a smooth color change */

        &:hover {
            border: 2px solid pink;
        }

        &.active {
            border: 2px solid pink;
        }

        h1 {
            font-weight: 600;
            font-size: 20px;
            color: #2d3748;
        }
        img{
            border: 2px solid pink;
            border-radius: 50%;
            padding: .2rem;
        }
        p {
            font-size: 14px;
            color: #718096;
        }
    }
}
