.container{
    // background-color: yellow;
    .innerContainer {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        // border-radius: 50px;
    
      }
}