.container{
    background-color: #F7F7FA;
    display: flex;
    justify-content: space-around;
    margin: .1rem;
    @media (max-width: 768px) {
        flex-direction: column;
        justify-content: center;
        align-items: center;
      }
    
}